.container { 
    background: gray; 
   height: 50px;
   }
   .footer { 
    background: gray; 
   height: 30px;
   }

   .header { 
    background: gray; 
   height: 50px;
   }
   
   .body{
    height: 499px;
   }